.contact-sales-container
  %h2
    Contribute to GitLab
  %p
    Help us continue building the single solution for the DevOps lifecycle.
  %a.btn.cta-btn.orange.just-commit{ href: "/community/contribute/" }
    Start contributing
